<div class="container">
  <h2> Formarray example by shubs </h2>

  <form [formGroup]="productForm">

    <div formArrayName="products" class="form-array">

      <div class="form-container" *ngFor="let product of productGetter().controls; let i = index" [formGroupName]=" i">
        <input type="text" placeholder="Enter Product Name" formControlName="productName">

        <input type="text" placeholder="Enter brand name" formControlName="brand">

        <input type="number" placeholder="Enter quantity" formControlName="quantity">

        <div class="btn-container">
          <button class="btn-red" (click)="removeProduct(i)"> Remove </button>
        </div>
      </div>


      <div class="form-container">
        <code>
          {{formValues}}
        </code>
      </div>


    </div>

    <div class="btn-container">
      <button type="submit" class="btn-green" (click)="onSubmit()">Submit</button>
      <button type="button" class="btn-blue" (click)="addProduct()">Add product</button>

    </div>


  </form>
</div>